<div class="col-md-3 address-wrap no-padding" id="address-<%=user_info.id%>">
    <div class="address-item">
        <div class="name-section">
            刘潇阳（默认地址）
        </div>
        <div class="mobile-section">
            18133621852
        </div>
        <div class="detail-section">
            <%=user_info.province %>
            <br>
            <%=user_info.city %>
            <br>
            <%=user_info.county %>
        </div>
    </div>
    <div class="operation-section">
        <span class="update-btn js-edit-address">修改</span>
        <%= link_to "删除", user_info_path(user_info), :method => :delete, :class => "delete-btn", :remote => true %>
    </div>
</div>
