    <div class="address-item" id="address-item-<%=user_info.id%>">
        <div class="name-section">
            <%=user_info.name %>
        </div>
        <div class="mobile-section">
            <%=user_info.tel %>
        </div>
        <div class="detail-section">
            <%=user_info.province %>
            <br>
            <%=user_info.city %>
            <br>
            <%=user_info.county %>
        </div>
    </div>
