<form novalidate="novalidate" class="simple_form edit_user_info" id="edit_user_info_<%= @user_info.id%>" action="/user_infos/<%= @user_info.id%>" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">

    <div class="form-inputs">
        <div class="form-group integer optional user_info_user_id">
            <label class="control-label integer optional" for="user_info_user_id">User</label><input class="form-control numeric integer optional" type="number" step="1" value="<%= @user_info.user_id%>" name="user_info[user_id]" id="user_info_user_id"></div>
        <div class="form-group string optional user_info_name">
            <input class="form-control string optional" type="text" value="<%= @user_info.name%>" name="user_info[name]" id="user_info_name"></div>
        <div class="form-group string optional user_info_province">
            <label class="control-label string optional" for="user_info_province">Province</label><input class="form-control string optional" type="text" value="<%= @user_info.province%>" name="user_info[province]" id="user_info_province"></div>
        <div class="form-group string optional user_info_city">
            <label class="control-label string optional" for="user_info_city">City</label><input class="form-control string optional" type="text" value="<%= @user_info.city%>" name="user_info[city]" id="user_info_city"></div>
        <div class="form-group string optional user_info_county">
            <label class="control-label string optional" for="user_info_county">County</label><input class="form-control string optional" type="text" value="<%= @user_info.county%>" name="user_info[county]" id="user_info_county"></div>
        <div class="form-group integer optional user_info_tel">
            <label class="control-label integer optional" for="user_info_tel">Tel</label><input class="form-control numeric integer optional" type="number" step="1" value="<%= @user_info.tel%>" name="user_info[tel]" id="user_info_tel"></div>
        <div class="form-group string optional user_info_address">
            <label class="control-label string optional" for="user_info_address">Address</label><input class="form-control string optional" type="text" value="<%= @user_info.address%>" name="user_info[address]" id="user_info_address"></div>
    </div>

    <div class="form-actions">
        <input type="submit" name="commit" value="Update User info" class="btn btn-default update-user-info" data-disable-with="Update User info">
    </div>
</form>
