<div class="row">
    <div class="container cart-index no-padding margin-top-40">
        <div class="top">
            <span>购物清单</span>
        </div>
        <%if current_cart.cart_items.blank?%>
        <div class="cart-items-empty"></div>
        <div class="cart-items-empty-bottom">
            <h4>您的购物车中还没有商品</h4>
            <a href="#" class="btn btn-default">立刻选购</a>
        </div>
    <% else %>
        <div class="middle">
            <div class="middle-title">
                <div class="col-md-4 no-padding">
                    <div class="name" style="text-align:left">
                        商品信息
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- <div class="price">
                        操作
                    </div> -->
                    <div class="quantity">
                        小计
                    </div>
                    <div class="subtotal">
                        数量
                    </div>
                    <div class="operation">
                        单价
                    </div>
                </div>
            </div>
            <div class="middle-table">
                <% current_cart.cart_items.each do |cart_item| %>
                <div class="col-md-4 cart-detail">
                    <%= link_to product_path(cart_item.product) do %>
                    <% if cart_item.product.photos[0].present? %>
                    <%= image_tag(cart_item.product.photos[0].avatar.url, class: "") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "") %>
                    <% end %>
                    <% end %>

                    <%= link_to(cart_item.product.title, product_path(cart_item.product) ,class:"") %>
                </div>
                <div class="col-md-8">
                    <!-- <div class="operation ">
                        <p>
                            <%#= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                            <i class="fa fa-trash"></i>
                            <% #end %>
                        </p>
                    </div> -->
                    <div class="subtotal">
                        <p>
                              <%= cart_item.product.price %>
                        </p>
                    </div>
                    <div class="quantity ">
                            <div class="countNumber clearfix">
                              <div class="selecte-quantity">
                                  <%= link_to(" ", reduce_quantity_product_path(cart_item.product), class: "countNumber-btn countNumber-btn-sub", method: :post,remote: true) %>
                                  <input class="countNumber-input" type="text" value="<%= cart_item.product.purchase_quantity %>" readonly>
                                  <%= link_to(" ", add_quantity_product_path(cart_item.product), class: "countNumber-btn countNumber-btn-plus", method: :post,remote: true) %>
                              </div>
                            </div>
                    </div>
                    <div class="price ">
                        <p>
                            <%= cart_item.product.price %>
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="bottom">
          <div class="bottom-right col-md-6 pull-right">
            <div class="col-sm-6 pull-right">
              <a href="javascript:void(0)" class="blue-large-btn pull-right">确认结账</a>
              <%#= link_to("确认结账", checkout_carts_path, method: :post, class: "blue-large-btn pull-right") %>
            </div>
            <div class="render-cart-total-price pull-right">
              应付金额:<span id="render-cart-total-price">¥<%= render_cart_total_price(current_cart) %></span>
            </div>
          </div>
        </div>
        <% end %>
    </div>

    <div class="container box no-padding margin-top-40">
      <div class="box-top">
          <span>收货信息</span>
      </div>
      <div class="box-middle">
        <div class="col-md-3">
          <div class="name-section">
111
          </div>
          <div class="mobile-section">
111
          </div>
          <div class="detail-section">
111
          </div>
          <div class="operation-section">
            <span class="update-btn js-edit-address">修改</span>
            <span class="delete-btn js-delete-address" data-id="723726">删除</span>
          </div>
        </div>
        <div class="add-section col-md-3" data-toggle="modal" data-target="#myModal">
          <p>使用新地址</p>
        </div>
      </div>
    </div>

    <div class="container cart-index no-padding margin-top-40">
        <div class="top">
            <span>收货信息</span>
        </div>
        <div class="order-title">
            <div class="col-md-4 no-padding">
                <!-- 收货信息 -->
            </div>
            <div class="col-md-4 no-padding">
                姓名
            </div>
            <div class="col-md-4 no-padding">
                地址
            </div>
        </div>
        <div class="order-detail">
            <%= simple_form_for @order do |f| %>
            <div class="col-md-4 no-padding">
                订购人
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :billing_name,label:false  %>
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :billing_address,label:false  %>
            </div>

            <div class="col-md-4 no-padding">
                收货人
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :shipping_name,label:false  %>
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :shipping_address,label:false  %>
            </div>
                <%#= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
                     data: { disable_with: "Submitting..." } %>
            <% end %>
        </div>
    </div>
</div>
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>

        <div class="modal-body">
          <%= simple_form_for @user_info do |f| %>
            <%= f.input :name,label:false  %>
            <%= f.input :tel,label:false  %>
            <%= f.input :province,label:false  %>
            <%= f.input :city,label:false  %>
            <%= f.input :county,label:false  %>
            <%= f.input :address,label:false  %>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>

  </div>
</div>
<br><br>
<script type="text/javascript">
$(function () {
  $('.blue-large-btn').click(function () {
    $('form').submit();
  })
  $('.add-section').click(function () {

  })
})
</script>
