<div class="row">
    <div class="container cart-index no-padding margin-top-40">
        <div class="top">
            <span>购物清单</span>
        </div>
        <%if current_cart.cart_items.blank?%>
        <div class="cart-items-empty"></div>
        <div class="cart-items-empty-bottom">
            <h4>您的购物车中还没有商品</h4>
            <a href="/" class="btn btn-default">立刻选购</a>
        </div>
    <% else %>
        <div class="middle">
            <div class="middle-title">
                <div class="col-md-4 no-padding">
                    <div class="name" style="text-align:left">
                        商品信息
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- <div class="price">
                        操作
                    </div> -->
                    <div class="quantity">
                        小计
                    </div>
                    <div class="subtotal">
                        数量
                    </div>
                    <div class="operation">
                        单价
                    </div>
                </div>
            </div>
            <div class="middle-table">
                <% current_cart.cart_items.each do |cart_item| %>
                <div class="col-md-4 cart-detail">
                    <%= link_to product_path(cart_item.product) do %>
                    <% if cart_item.product.photos[0].present? %>
                    <%= image_tag(cart_item.product.photos[0].avatar.url, class: "") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "") %>
                    <% end %>
                    <% end %>

                    <%= link_to(cart_item.product.title, product_path(cart_item.product) ,class:"") %>
                </div>
                <div class="col-md-8">
                    <!-- <div class="operation ">
                        <p>
                            <%#= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                            <i class="fa fa-trash"></i>
                            <% #end %>
                        </p>
                    </div> -->
                    <div class="subtotal">
                        <p>
                            <%= cart_item.product.price %>
                        </p>
                    </div>
                    <div class="quantity ">
                        <div class="countNumber clearfix">
                            <div class="selecte-quantity">
                                <%= link_to(" ", reduce_quantity_product_path(cart_item.product), class: "countNumber-btn countNumber-btn-sub", method: :post,remote: true) %>
                                <input class="countNumber-input" type="text" value="<%= cart_item.product.purchase_quantity %>" readonly>
                                <%= link_to(" ", add_quantity_product_path(cart_item.product), class: "countNumber-btn countNumber-btn-plus", method: :post,remote: true) %>
                            </div>
                        </div>
                    </div>
                    <div class="price ">
                        <p>
                            <%= cart_item.product.price %>
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-right col-md-6 pull-right">
                <div class="col-sm-4 pull-right">
                    <a href="javascript:void(0)" class="blue-large-btn pull-right">确认结账</a>
                    <%#= link_to("确认结账", checkout_carts_path, method: :post, class: "blue-large-btn pull-right") %>
                </div>
                <div class="render-cart-total-price pull-right">
                    应付金额：<span id="render-cart-total-price">&nbsp;¥ <%= render_cart_total_price(current_cart) %></span>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    <div class="container box no-padding margin-top-40">
        <div class="box-top">
            <span>收货信息</span>
        </div>
        <div class="box-middle">
            <% if !@user_infos.blank?%>
            <% @user_infos.each do |user_info|%>
            <!-- 这里好像就是要用双引号 -->
            <%= render :partial => "user_infos/address_warp" ,:locals=>{:user_info=> user_info}%>
            <% end %>
            <% end %>
            <div class="add-section address-wrap col-md-3" data-toggle="modal" data-target="#myModal">
                <p>使用新地址</p>
            </div>
        </div>
    </div>

    <div class="container cart-index no-padding margin-top-40" style="display:none;">
        <div class="top">
            <span>收货信息</span>
        </div>
        <div class="order-title">
            <div class="col-md-4 no-padding">
                <!-- 收货信息 -->
            </div>
            <div class="col-md-4 no-padding">
                姓名
            </div>
            <div class="col-md-4 no-padding">
                地址
            </div>
        </div>
        <div class="order-detail">
            <%= simple_form_for @order do |f| %>
            <div class="col-md-4 no-padding">
                订购人
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :billing_name,label:false,input_html: { value: "Peck" }  %>
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :billing_address,label:false,input_html: { value: "Peck's zone" }  %>
            </div>

            <div class="col-md-4 no-padding">
                收货人
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :shipping_name,label:false,input_html: { value: "Peck" }  %>
            </div>
            <div class="col-md-4 no-padding">
                <%= f.input :shipping_address,label:false,input_html: { value: "Peck's zone" }  %>
            </div>
            <%#= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
                     data: { disable_with: "Submitting..." } %>
            <% end %>
        </div>
    </div>
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="topbar">
                        <div class="dialog-tit">
                            <h4 >管理收货地址</h4>
                        </div>
                        <button type="button" class="close dialog-close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="user-info-form">
                            <form novalidate="novalidate" class="simple_form new_user_info" id="new_user_info" action="/user_infos" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
                                <div class="form-group string optional user_info_name"><input class="form-control string optional" placeholder="收货人姓名" type="text" name="user_info[name]" id="user_info_name"></div>
                                <div class="form-group integer optional user_info_tel"><input class="form-control numeric integer optional" placeholder="手机号" type="number" step="1" name="user_info[tel]" id="user_info_tel"></div>
                                <div class="form-group select optional user_info_province">
                                    <select class="form-control select new-province select-province optional" name="user_info[province]" id="user_info_province">
                                        <option  value="">请选择省份</option>
                                    </select>
                                    <div class="triangle"></div>
                                </div>
                                <div class="form-group select optional user_info_city">
                                    <select class="form-control select new-city select-city optional" name="user_info[city]" id="user_info_city">
                                        <option value="">请选择城市</option>
                                    </select>
                                    <div class="triangle"></div>
                                </div>
                                <div class="form-group select optional user_info_county">
                                    <select class="form-control select new-county select-county optional" name="user_info[county]" id="user_info_county">
                                        <option value="">请选择县区</option>
                                    </select>
                                    <div class="triangle"></div>
                                </div>
                                <div class="form-group string optional user_info_address"><input class="form-control string optional" placeholder="详细地址，如街道名称，楼层，门牌号码等" type="text" name="user_info[address]" id="user_info_address"></div>
                                <div class="boolean-group boolean optional user_info_is_default">
                                    <div class="checkbox"><input value="0" type="hidden" name="user_info[is_default]">
                                        <label class="boolean optional" for="user_info_is_default"><input class="boolean optional" type="checkbox" value="1" name="user_info[is_default]" id="user_info_is_default">设为默认</label>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" name="commit" value="创建" class="btn btn-default user_info_submit dialog-blue-btn create_user_info" data-disable-with="Create User info">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <a href="#" class="trigger-edit" data-toggle="modal" data-target="#myModal-edit"></a>
        <!-- Modal -->
        <div class="modal fade" id="myModal-edit" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="topbar">
                        <div class="dialog-tit">
                            <h4 >管理收货地址</h4>
                        </div>
                        <button type="button" class="close dialog-close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body-edit">
                        <div class="user-info-form">
                            <form novalidate="novalidate" class="simple_form edit_user_info" id="edit_user_info_80" action="/user_infos/80" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
                                <div class="form-group string optional user_info_name"><input class="form-control string optional" placeholder="收货人姓名" type="text" value="" name="user_info[name]" id="user_info_name"></div>
                                <div class="form-group integer optional user_info_tel"><input class="form-control numeric integer optional" placeholder="手机号" type="number" step="1" value="" name="user_info[tel]" id="user_info_tel"></div>
                                <div class="form-group select optional user_info_province">
                                    <select class="form-control select select-province edit-province optional" name="user_info[province]" id="user_info_province">
                                        <option id="edit-province" value="">请选择省份</option>
                                    </select>
                                    <div class="triangle"></div>
                                </div>
                                <div class="form-group select optional user_info_city">
                                    <select class="form-control select select-city edit-city optional" name="user_info[city]" id="user_info_city">
                                        <option id="edit-city" value="">请选择城市</option>
                                    </select>
                                    <div class="triangle"></div>
                                </div>
                                <div class="form-group select optional user_info_county">
                                    <select class="form-control select select-county edit-county optional" name="user_info[county]" id="user_info_county">
                                        <option id="edit-county" value="">请选择县区</option>
                                    </select>
                                    <div class="triangle"></div>
                                </div>
                                <div class="form-group string optional  user_info_address"><input class="form-control edit_user_info_address string optional" placeholder="详细地址，如街道名称，楼层，门牌号码等" type="text" value="" name="user_info[address]" id="user_info_address"></div>
                                <div class="boolean-group boolean optional user_info_is_default">
                                    <div class="checkbox"><input value="0" type="hidden" name="user_info[is_default]">
                                        <label class="boolean optional" for="user_info_is_default"><input class="boolean optional edit-is-default" type="checkbox" value="1" name="user_info[is_default]" id="user_info_is_default">设为默认</label>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" name="commit" value="保存修改" class="btn btn-default user_info_submit dialog-blue-btn update_user_info" data-disable-with="Update User info">
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <br><br>
    <script type="text/javascript">
            $(function () {
              //footer变为白色
                $('footer').removeClass('bg-gray')
                $('.address-wrap').click(function () {
                    $(this).toggleClass('selected-address')
                    var not_selected = $(this).siblings('.selected-address')
                    if (not_selected) {
                      not_selected.each(function () {
                        $(this).toggleClass('selected-address')
                      })
                    }
                })

//备份新建框修改框
var edit_modal = $('#myModal-edit')
var new_modal = $('#myModal')
var create_user_info = $('.create_user_info')
var update_user_info = $('.update_user_info')
                var count = 0;
create_user_info.click(function () {
  $('.close').click()
  count ++;
})

update_user_info.click(function () {
  count = 0;
  $('.close').click()
})

$('select').change(function () {
    if ($(this).hasClass('select-province')) {
        //console.log($(this));
        select_city = $(this).parents('.modal').find('.select-city')
        //console.log(select_city);
        select_county = $(this).parents('.modal').find('select-county')
        //console.log(select_county);
        $(this).parents('.modal').find('.select-city option:not(:first)').remove()
        $(this).parents('.modal').find('.select-county option:not(:first)').remove()

        var city = china[this.value];
        if (this.value.trim() != "") {
          appSelect(city, select_city)
        }
        var county = cityChina[select_city.val()];
        appSelect(county, select_county)
    }
    if ($(this).hasClass('select-city')) {
        select_county = $(this).parents('.modal').find('select-county')
        $(this).parents('.modal').find('.select-county option:not(:first)').empty()
        var county = cityChina[this.value];
        appSelect(county, select_county)
    }
})




                $('.add-section').click(function () {

                  if (count>=1) {
                    $('.modal').find('.new-province option:not(:first)').remove()
                    $('.modal').find('.new-city option:not(:first)').remove()
                    $('.modal').find('.new-county option:not(:first)').remove()
                  }

                  $('.modal').mouseover(function () {
                    //console.log($(this));
                    var province = world['中国'];
                    var select_1 = $(this).find('.select-province')
                    // alert($(this).find('.select-province option:first').text())
                    // $(this).find('.select-province #').selected = "true"
                    //console.log(select_1);
                    var select_2 = $(this).find('.select-city')
                    var select_3 = $(this).find('.select-county')
                    //console.log(select_1.children().length);
                    var city = china[select_1.val()]
                    var county = cityChina[select_2.val()]
                    if (select_1.children().length == 1) {
                      appSelect(province, select_1);
                    }
                    if (select_2.children().length == 1) {
                      appSelect(city, select_2);
                    }
                    if (select_3.children().length == 1) {
                      appSelect(county, select_3);
                    }
                  })

                  // if (count >=1 ) {
                  //   alert($('#myModal-edit'));
                  //   alert(edit_modal);
                  //   $('#myModal-edit') = edit_modal
                  //   $('#myModal') = new_modal
                  //
                  //   alert(count)
                  // }                  // state_code()
                  // //console.log(count);
                  //
                  // // count(count);
                })

                $('.update-btn').click(function () {

                  $('.modal').mouseover(function () {
                    //console.log($(this));
                    var province = world['中国'];
                    var select_1 = $(this).find('.select-province')
                    // alert($(this).find('.select-province option:first').text())
                    // $(this).find('.select-province #').selected = "true"
                    //console.log(select_1);
                    var select_2 = $(this).find('.select-city')
                    var select_3 = $(this).find('.select-county')
                    //console.log(select_1.children().length);
                    var city = china[select_1.val()]
                    var county = cityChina[select_2.val()]
                    if (select_1.children().length == 1) {
                      appSelect(province, select_1);
                    }
                    if (select_2.children().length == 1) {
                      appSelect(city, select_2);
                    }
                    if (select_3.children().length == 1) {
                      appSelect(county, select_3);
                    }
                  })

                })
                // function state_code() {
                //   //console.log('111');
                //   var state = $('.modal').attr('class')
                //   //console.log(state);
                //   if (state.includes('in')) {
                //     //console.log('111');
                //     return '111'
                //   }
                // }


                function appSelect(area, obj) {
                    var documentFragment = $(document.createDocumentFragment());
                    $.each(area, function (key, val) { //只有一个参数就会只有数组下标
                        var option = $('<option></option>')
                        option.val(val)
                        option.html(val)
                        // option.attr('id',val)
                        documentFragment.append(option)
                    })
                    obj.append(documentFragment[0])
                }


                // //---------省市县下拉菜单----------// 默认初始值
                //
                // window.onload = function () {
                //     var province = world['中国'];
                //     appSelect(province, select_province);
                //
                //     if (select_province.val()) {
                //       var city = select_province.val()
                //       appSelect(city, select_city);
                //
                //       if (select_city.val()) {
                //         var county = select_city.val()
                //         appSelect(city, select_county);
                //       }
                //     }
                //
                // } //已经把所有数据录入，但没有实现联动。
                //
                // $('.modal-body-edit').mouseover(function () {
                //
                //   //console.log('1212');
                //   //console.log($('.modal-body-edit').find('.select-province'));
                //   var select_1 = $('.modal-body-edit').find('.select-province')
                //   var select_2 = $('.modal-body-edit').find('.select-city')
                //   var select_3 = $('.modal-body-edit').find('.select-county')
                //   //console.log(select_1.val());
                //   //console.log(select_2.children().length);
                //   if (select_2.children().length == 1 && select_1.val()) {
                //     var city = china[select_1.val()]
                //     appSelect(city, select_city);
                //   }
                //   //console.log(select_2.val());
                //
                //   if (select_3.children().length == 1 && select_2.val()) {
                //     var county = cityChina[select_2.val()]
                //     appSelect(county, select_county);
                //   }
                // })
                //
                // //得到所有选项
                // var select = $('select')
                // var select_province = $('.select-province')
                // //console.log(select_province);
                // var select_city = $('.select-city')
                // //console.log(select_city);
                // var select_county = $('.select-county')
                // //console.log(select_county);
                //
                //
                // function appSelect(area, select) {
                //     var documentFragment = $(document.createDocumentFragment());
                //     $.each(area, function (key, val) { //只有一个参数就会只有数组下标
                //         var option = $('<option></option>')
                //         option.val(val)
                //         option.html(val)
                //         documentFragment.append(option)
                //     })
                //     select.append(documentFragment[0])
                // }
                //
                // select.change(function () {
                //     if ($(this).hasClass('select-province')) {
                //         //console.log($(this));
                //         select_city = $(this).parent().next().children('.select-city')
                //         select_county = $(this).parent().next().next().children('select')
                //         $('.user-info-form').children(:not(:first)).val().empty()//只清除自己附近的选框
                //         select_county.empty()
                //         var city = china[this.value];
                //         appSelect(city, select_city)
                //         //console.log(select_city);
                //         var county = cityChina[select_city.val()];
                //         // //console.log(county);
                //
                //         //console.log($(this).parent().next().next().children('select'));
                //
                //         appSelect(county, select_county)
                //     }
                //     if ($(this).hasClass('select-city')) {
                //         select_county = $(this).parent().next().children('.select-county')
                //         select_county.empty()
                //         var county = cityChina[this.value];
                //         //console.log(county);
                //         appSelect(county, select_county)
                //     }
                // })
                //---------省市县下拉菜单---------- 点击确认结账，提交订单
                $('.blue-large-btn').click(function () {
                  var select_id = $('.selected-address').attr('id')
                  var id
                  if (select_id) {
                     id = select_id.substring(8,11)
                  }else{
                    alert('请选择收货地址！')
                    return
                  }
                  $('.new_order').attr('action','/orders?userinfoid='+id)
                  $('.new_order').submit();
                })
            })
    </script>
